name: ${NODE_IP}
data-dir: /var/lib/etcd
listen-client-urls: https://${NODE_IP}:2379,https://127.0.0.1:2379
advertise-client-urls: https://${NODE_IP}:2379
initial-advertise-peer-urls: https://${NODE_IP}:2380
listen-peer-urls: https://${NODE_IP}:2380
initial-cluster-state: new
initial-cluster: ${ETCD_INITIAL_CLUSTER}
cert-file: /etc/etcd/ssl/etcd.pem
key-file: /etc/etcd/ssl/etcd-key.pem
trusted-ca-file: /etc/etcd/ssl/etcd-ca.pem
peer-cert-file: /etc/etcd/ssl/etcd.pem
peer-key-file: /etc/etcd/ssl/etcd-key.pem
peer-trusted-ca-file: /etc/etcd/ssl/etcd-ca.pem
client-cert-auth: true
peer-client-cert-auth: true
