apiVersion: v1
kind: Pod
metadata:
  name: lvscare
  namespace: kube-system
spec:
  hostNetwork: true
  priorityClassName: system-node-critical
  containers:
    - name: lvscare
      image: ${LVSCARE_POD_IMAGE}
      command:
        - lvscare
      args:
        - care
        - --vs
        - 10.103.97.12:6443
${MASTER_RS_ARGS}
        - --health-path
        - /healthz
        - --interval
        - "5"
      securityContext:
        privileged: true
      volumeMounts:
        - name: modules
          mountPath: /lib/modules
  volumes:
    - name: modules
      hostPath:
        path: /lib/modules